{% extends "base.html" %}
{% block content %}


<div class="row">
	<div class='col-sm-12' style= "text-align:center">
		<h1>Communities</h1></br>
			<a class = "button" href='{% url "communities:communities_create" %}'><button style= "margin-bottom: 50px"; "text-align:center" type="button" class="btn btn-primary communities-btn">Create a Community</button></br></a>
	</div>
</div>

<div class='col-sm-9 col-sm-offset-3'>
    <form method='GET' action='' class='row' style= "text-align:center">
        <div class='col-sm-8'style= "text-align:center">
           <div class='input-group' style= "text-align:center">
                <input class='form-control' type='text' name='q' placeholder='Search communities' value='{{ request.GET.q }}'/>
                	<span class='input-group-btn'>
               			<button style="background-color:transparent"class='btn btn-default' type='submit'><i class="fa fa-search"></i></button>
                	</span>
            </div>
        </div>
	</form>
</div>
	
<div class="row" style= "margin-left:50px; margin-right:50px; margin-top:100px;">   		 	
	{% for obj in  object_list %}
		<div class="col-sm-4" style="text-align:center">
			<div class="thumbnail">
				<a href = '{{ obj.get_absolute_url}}'><h2>{{ obj.name }}</h2></a></br>
				<p>{{ obj.description | truncatechars:20 }}</p> </br>
				{% if obj.image %}
					<img class = "img-responsive" src = '{{ obj.image.url }}'>
				{% endif %}
			</div>
		</div>
{% endfor %}
</div>

{% endblock content %}