{% extends "base.html" %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script> 


{% block content %}
{% load staticfiles %}

   

<div class="row">
	<div class='col-sm-12' style= "text-align:center">
		<h1>Stories</h1></br>
			<a class = "button" href='{% url "posts:create" %}'><button style= "margin-bottom: 50px"; "text-align:center" type="button" class="btn btn-primary communities-btn">Tell a story</button></br></a>
	</div>
</div>

<div class='col-sm-9 col-sm-offset-3'>
    <form method='GET' action='' class='row' style= "text-align:center">
        <div class='col-sm-8'style= "text-align:center">
           <div class='input-group' style= "text-align:center">
                <input class='form-control' type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
                	<span class='input-group-btn'>
               			<button style="background-color:transparent"class='btn btn-default' type='submit'><i class="fa fa-search"></i></button>
                	</span>
            </div>
        </div>
	</form>
</div>

<div class='col-sm-6 col-sm-offset-3'>
{% for obj in object_list %}
	<div class="row">
		<div class="col-sm-12">
    		<div class="thumbnail">
				
    			<!--TITLE-->
				<a href = '{{ obj.get_absolute_url}}'>{{ obj.title }}</a><br/>
					
					<!--DRAFT-->
					{% if obj.image %}
						<img class = "img-responsive" src = '{{ obj.image.url }}'>
					{% endif %}
					
					<!--DRAFT-->
					{% if obj.draft %}
						<h3>Staff only: Draft</h3>
					{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
					

					<!--USER-->
					<p>by:<a href = '/profile/{{ obj.user }}'> {{ obj.user }}</a></p>
				
					<!--LIKES-->
					<p><a class='like-btn' data-href='{{ obj.get_api_like_url }}' data-likes='{{ obj.likes.count }}'  href='{{ obj.get_like_url }}'>{{ obj.likes.count }} likes </a></p>

				
					<!--TEXT CONTENT-->
					<p class='content-markdown'>
					{{ obj.content |linebreaks|truncatechars:120}}<br/></p>
					{{ obj.publish }}<br/>

					<!--TAGS-->
					 {% if obj.tags %}
					 	<!--<p>Labels:-->
                    	{% for tag in obj.tags.all %}
                    		<a href="/posts/tag/{{ tag }}">{{ tag.name }}</a>
                    			{% if not forloop.last %},
                    			{% endif%}
                    	{% endfor %}</p>{% endif %}
                    
                    <a class="button" href='{{ obj.get_absolute_url}}'>View</a>
  		</div><hr/>

		{% endfor %}

	</div>

</div>
{% endblock content %}