{% load staticfiles %}
<!--DOCTYPE html -->
<html>

<head>
<title>{% block head_title %} Heriga {%  endblock head_title %}</title>

<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Skeleton: Responsive CSS Boilerplate</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static './css/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static './css/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static './css/base.css' %}">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../../dist/images/favicon.png">


<style>
{% block style %}{% endblock style %}
</style>
</head>
<body>

		<!--Navbar-->
			<nav class = "navbar">
		      <div class = "container">
            <a class = "navbar-brand" href="#">
              <img style="max-width:100px; margin-top: 5px;" src="http://van-heusden.eu/assets/logo/heriga_logo.jpg">
            </a>
		        <ul class = "navbar-list">
		          <li class = "navbar-item">
		               <a class = "navbar-link" href='{% url "homepage" %}'> HOME</a>
                  <a class = "navbar-link" href='{% url "posts:list" %}'> STORIES</a>
                  <a class = "navbar-link" href='{% url "aboutus" %}'> ABOUT</a>
                  <a class = "navbar-link" href='{% url "communities:communities_list" %}'> COMMUNITIES</a>
                  <a class = "navbar-link" href='{% url "signup" %}'> SIGNUP</a>
		          </li>
		        </ul>
		      </div>
		    </nav>
	


		{% include "messages_display.html" %}
	<div class = 'container'>
		{%  block content %}{%  endblock content %}
	</div>

  <script type="text/javascript">
  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    $(".comment-reply-btn").click(function(event){
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
    })


</script>
</body>
</html>