{% extends "base.html" %}
{% block content %}

<div class="container">
		<div class="sixteen columns">
	   		 <div class="six columns offset-by-three">
	   		 	
<h1>Communities</h1>

<form method='GET' action=''>
<input type='text' name='q' placeholder='Search communities' value='{{ request.GET.q }}'/>
<input type='submit' value='Search' />
</form>
<a class="button" href='{% url "communities:communities_create" %}'>Create Community</a>

</div>
</div>
</div>

{% for obj in  object_list %}

	<div class="container">
		<div class="sixteen columns">
	   		 <div class="six columns offset-by-three">
	   		 	<div class = "story">


				<a href = '{{ obj.get_absolute_url}}'><h2>{{ obj.name }}</h2></a></br>
				<p>{{ obj.description }}</p> </br>
				{% if obj.image %}
					<img class = "u-max-full-width" src = '{{ obj.image.url }}'>
					{% endif %}

				<a class="button" href=''>View</a>

				</div>
			</div>
		</div>
	</div>

{% endfor %}

{% endblock content %}