{% extends "base.html" %}
{% load urlify %}
{% block head_title %}
{{ instance.title }} | {{ block.super }} 
{%  endblock head_title %}
{% block content %}

<div class='container'>
  	<div class="col-sm-6 col-sm-offset-3" style="margin-top:30px;"> 
  	 {% if instance.image %}
  	   	<img class = "img-responsive" src = '{{ instance.image.url }}'>
      {% endif %}
  			<h1>{{title}}</h1><p>{% if instance.draft %} <span style= 'color:red'>Draft</span>{% endif %} {{ instance.publish }}</p>	
  			<p>Author: {{ instance.user }}</p>
        <p>Community: {{ instance.community }}</p>
        <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div><hr/></p>
  			<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.built_absolute_uri }}">
  Facebook</a>
  			<a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.built_absolute_uri }}">
  Twitter</a>
  			<a href='https://plus.google.com/share?url={{ request.built_absolute_uri }}'>GooglePlus</a>
  			<p>{{ instance.content |linebreaks }}</p><br/>
        <p>{{ instance.likes }} People liked this story</p>
        <p>Language:{{ instance.language }}</p><br/>
        <p>Source:{{ instance.source }}</p><br/>
        <p>Summary:{{ instance.summary }}</p><br/>
        {% if instance.tags %}
          <p>Labels:
        {% for tag in instance.tags.all %}
          <a href="/posts/tag/{{ tag }}">{{ tag.name }}</a>
          {% if not forloop.last %},{% endif%}
          {% endfor %}</p>{% endif %}
  </div>
</div>

<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
        <p class='lead'>Comments</p>
        <form method="POST" action="."> {% csrf_token %}
            {{ comment_form }} </br>
            <input type='submit' value='Post comment' class='btn btn-primary'>
        </form>
        <hr/>
        {% for comment in comments %}

        <blockquote>
          <p>{{ comment.content }}</p>
          <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'>Reply</a></footer>
          <div class='comment-reply'>
              {% for child_comment in comment.children %}
                <blockquote>
                <p>{{ child_comment.content }}</p>
                <footer>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
                </blockquote>
             {% endfor %}

            <form method="POST" action="."> {% csrf_token %}
                {{ comment_form }}
                <input type='hidden' name='parent_id' value='{{ comment.id }}'></br>
            </form>
        </div>

        </blockquote>

        <hr/>
        {% endfor %}
    </div>




</div>

{% endblock content %}