{% extends "base.html" %}
{% block content %}



<div class="row">
	<div class='col-sm-12' style= "text-align:center">
		<h1>Stories</h1></br>
			<a class = "button" href='{% url "posts:create" %}'><button style= "margin-bottom: 50px"; "text-align:center" type="button" class="btn btn-primary communities-btn">Tell a story</button></br></a>
	</div>
</div>

<div class='col-sm-9 col-sm-offset-3'>
    <form method='GET' action='' class='row' style= "text-align:center">
        <div class='col-sm-8'style= "text-align:center">
           <div class='input-group' style= "text-align:center">
                <input class='form-control' type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
                	<span class='input-group-btn'>
               			<button style="background-color:transparent"class='btn btn-default' type='submit'><i class="fa fa-search"></i></button>
                	</span>
            </div>
        </div>
	</form>
</div>

<div class='col-sm-6 col-sm-offset-3'>
{% for obj in  object_list %}
	<div class="row">
		<div class="col-sm-12">
    		<div class="thumbnail">
				<a href = '{{ obj.get_absolute_url}}'>{{ obj.title }}</a><br/>
					{% if obj.image %}
					<img class = "img-responsive" src = '{{ obj.image.url }}'>
					{% endif %}
					{% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
					{% if obj.user.get_full_name %}<p>Author:{{ obj.user.get_full_name }}</p>{% endif %}
					<p class='content-markdown'>{{ obj.content }}</p>
					{{ obj.content |linebreaks|truncatechars:120}}<br/>
					{{ obj.publish }}<br/>
					 {% if obj.tags %}<p>Labels:
                        {% for tag in obj.tags.all %}
                    <a href="/posts/tag/{{ tag }}">{{ tag.name }}</a>
                    {% if not forloop.last %},{% endif%}
                    {% endfor %}</p>{% endif %}
                    <a class="button" href='{{ obj.get_absolute_url}}'>View</a>
			</div>
   		</div>
  	</div><hr/>




{% endfor %}
</div>

<!--<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>
-->
{% endblock content %}