<!--DOCTYPE html -->


{% extends "base.html" %}


{% block head_title %}
{{ instance.title }} | {{ block.super }} {%  endblock head_title %}


{% block content %}


	<div class="container">
		<div class="sixteen columns">
	   		 <div class="six columns offset-by-three"> 
	   		 {% if instance.image %}
	   		 <img class = "u-max-full-width" src = '{{ instance.image.url }}'>
{% endif %}
				<h1>{{title}}</h1><p>{{ instance.timestamp }}</p>
					{{ instance.content |linebreaks }}<br/>
			</div>
		</div>
	</div>



{% endblock content %}


