{% extends "base.html" %}
{% block content %}

<div class="container">
		<div class="sixteen columns">
	   		 <div class="six columns offset-by-three">
	   		 	
<h1>Stories</h1>

<form method='GET' action=''>
<input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
<input type='submit' value='Search' />
</form>
<a class="button" href='{% url "posts:create" %}'>Tell a story</a>

</div>
</div>
</div>

{% for obj in  object_list %}

	<div class="container">
		<div class="sixteen columns">
	   		 <div class="six columns offset-by-three">
	   		 	<div class = "story">
					<a href = '{{ obj.get_absolute_url}}'>{{ obj.title }}</a><br/>
					{% if obj.image %}
					<img class = "u-max-full-width" src = '{{ obj.image.url }}'>
					{% endif %}
					{% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
					{% if obj.user.get_full_name %}<p>Author:{{ obj.user.get_full_name }}</p>{% endif %}
					{{ obj.content |linebreaks|truncatechars:120}}<br/>
					{{ obj.publish }}<br/>
					<a class="button" href='{{ obj.get_absolute_url}}'>View</a>
				</div>
			</div>
		</div>
	</div>

{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}