{% extends "base.html" %}
{% block content %}


<div class="row">
	<div class='col-sm-12' style= "text-align:center">
		
			
			{{ profile.user }}2

			{{ profile.location}}3
			
			{{ profile.info }}5
		

	</div>
</div>
	



<!--POSTS_PROFILE-->

<!--FIX-->

<div class='col-sm-6 col-sm-offset-3'>
	{% for obj in profile.user.post_set.all %}
			<div class="row">
				<div class="col-sm-12">
	    			<div class="thumbnail">
	    				<a href = '{{ obj.get_absolute_url}}'>{{ obj.title }}</a><br/>
							{% if obj.image %}
								<img class = "img-responsive" src = '{{ obj.image.url }}'>
							{% endif %}

						
						<!--USER-->
						{{ user.request }}
						{% if obj.user.get_full_name %}
							by:<a href = '/profile/{{ obj.user }}'>{{ obj.user.get_full_name }}</a>
						{% endif %}
						
						<p class='content-markdown'>{{ obj.content |linebreaks|truncatechars:120}}<br/></p>
						
						{{ obj.publish }}<br/>
						 {% if obj.tags %}<p>
	                        {% for tag in obj.tags.all %}
	                    <a href="/posts/tag/{{ tag }}">{{ tag.name }}</a>
	                    {% if not forloop.last %},{% endif%}
	                    {% endfor %}</p>{% endif %}
	                    <a class="button" href='{{ obj.get_absolute_url}}'>View</a>
	              	
	           	</div>
	      	</div>
	
</div>
{% endfor %}


<!--COMMUNITIES-->

<div class="row" style= "margin-left:50px; margin-right:50px; margin-top:100px;">   		 	
	{% for obj in  profile.user.communities_set.all %}
		<div class="col-sm-4" style="text-align:center">
			<div class="thumbnail">
				<a href = '{{ obj.get_absolute_url}}'><h2>{{ obj.name }}</h2></a></br>
				<p>{{ obj.description | truncatechars:20 }}</p> </br>
				{% if obj.image %}
					<img class = "img-responsive" src = '{{ obj.image.url }}'>
				{% endif %}
			</div>
		</div>
{% endfor %}
</div>

{% endblock content %}