{% extends "base.html" %}
{% block content %}

<div class='col-sm-6 col-sm-offset-3'>
{% for obj in  object_list %}
	<div class="row">
		<div class="col-sm-12">
    		<div class="thumbnail">
				<a href = '{{ obj.get_absolute_url}}'>{{ obj.title }}</a><br/>
					{% if obj.image %}
					<img class = "img-responsive" src = '{{ obj.image.url }}'>
					{% endif %}
					{% if obj.draft %}
						<h3>Staff only: Draft</h3>
					{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
					<!--USER-->
					
						
					{% if obj.user.get_full_name %}
						by:<a href = '/profile/{{ user }}'>{{ obj.user.get_full_name }}</a>
					}
					}
					{% endif %}
					
{% for item in user %}
{{ item.username }}

{% endfor %}



					<p class='content-markdown'>{{ obj.content }}</p>
					{{ obj.content |linebreaks|truncatechars:120}}<br/>
					{{ obj.publish }}<br/>
					 {% if obj.tags %}<p>Labels:
                        {% for tag in obj.tags.all %}
                    <a href="/posts/tag/{{ tag }}">{{ tag.name }}</a>
                    {% if not forloop.last %},{% endif%}
                    {% endfor %}</p>{% endif %}
                    <a class="button" href='{{ obj.get_absolute_url}}'>View</a>



  	</div><hr/>

{% endfor %}




{% endblock content %}