{% extends "base.html" %}
{% block content %}


<div class="row">
	<div class='col-sm-12' style= "text-align:center">
			{% for user in user.userpicture_set.all %}{% if profile.user.image %}</br>
				<h1>This is {{ profile.user }} Profile</h1><img class= "img-responsive" src='{{ user.image.url }}'/></br>{% endif %}
			{% endfor %}
			<h1>Full Name</h1>
				<p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p></br>
			<h1>E-mail</h1><p>{{ profile.user.email }}</p></br>
			<h1>Place of birth</h1><p>{{ profile.cityOfBirth }}, {{ profile.countryOfBirth}}, </p></br>
		<h1>Location</h1><p>{{ profile.cityofResidence }}, {{ profile.countryofResidence }}</p></br>
			<h1>Occupation</h1>{% for item in profile.user.userjob_set.all %}
				<p>{{ item.occupation }}</p>{% endfor %}

	</div>
</div>
	
			


{% endblock content %}